bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/Aardvark.log
/lib/Native/MiniCV/windows/AMD64/MiniCVNative.exp
/lib/Native/MiniCV/windows/AMD64/MiniCVNative.iobj
/lib/Native/MiniCV/windows/AMD64/MiniCVNative.ipdb
/lib/Native/MiniCV/windows/AMD64/MiniCVNative.lib
/lib/Native/MiniCV/windows/AMD64/MiniCVNative.pdb
/src/*.opendb
/src/*.db
.idea/
*.user
.paket/