framework: netcoreapp2.0, netstandard2.0, net471
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                          ~> 4.3.0

nuget Aardvark.Base                        >= 4.2.0 
nuget Aardvark.Base.FSharp                 >= 4.2.0 

group Build
framework: net45
content: none
source https://api.nuget.org/v3/index.json

github vrvis/Aardvark.Fake:v4-temp
