type project
id MiniCV
authors Aardvark Platform Team
projectUrl https://github.com/aardvark-community/MiniCV
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl https://github.com/aardvark-community/MiniCV
description
    MiniCV